//@import '~bootstrap/scss/bootstrap';
@import './themes/bootstrap.min.css';
@import './themes/variables';
@import 'images.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box !important;
}
.project-form {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
}
.nav-link.active {
  background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
  background-repeat: no-repeat;
  filter: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.assecc {
  white-space: pre-line;
}
.modal-body {

  .ck-content {
    background-color: #fff;
    * {
      color: #52575C;
    }
    a {
      text-decoration: underline;
      color: #5bc0de;
    }
  }
}
.ck-body-wrapper {
  z-index: 2000!important;
}
.ck-balloon-panel {
  z-index: 2000!important;
}
.card {
  border-radius: 0;
  position: relative;
  .close {
    color: #5bc0de;
    position: absolute;
    right: 20px;
    top: calc(50% - 14px);
    :hover {
      color: #5bc0de;
    }
  }
  h4 {
    margin-top: 20px;
    color: #fff;
  }
  .link {
    text-decoration: underline;
  }
  .card-header {
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
form {
  position: relative;
  .close {
    color: #5bc0de;
    position: absolute;
    right: 10px;
    top: 5px;
    :hover {
      color: #5bc0de;
    }
  }
}

.tasks-page {
  .status {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    &:hover {
      background-color: #32383e !important;
    }
  }
  header {
    background-color: #1c1e22 !important;
    border-bottom: 30px solid #272b30;
    padding: 8px 0;
    color: #fff;
    button {
      float: right;
      margin-right: 20px;
    }
    h1 {
      border-right: 1px solid rgba(0, 0, 0, 0.6);
      padding: 10px 20px;
      margin: 0;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
    }
    .row {
      align-items: center;
    }
    h2 {
      padding: 10px 20px;
      margin: 0;
      color: #fff;
      font-weight: bold;
      font-size: 23px;
    }
  }
  .tasks-list {
    position: relative;
    height: 80vh;
    background-color: #1c1e22 !important;
    padding: 10px 40px;
    margin-left: -31px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 0;
  }
  .list-group-item {
    cursor: pointer;
    &.active {
      position: relative;
      z-index: 2;
      background-color: #1c1e22 !important;
      border-right: 0;
    }
  }
  .list-group {
    border-radius: 0;
  }
  table {
    tr {
      cursor: pointer;
    }
    thead {
      background-color: #1c1e22;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .finished {
    text-decoration: line-through;
    color: #7a8288 !important;
    :hover {
      color: #7a8288;
    }
    a {
      color: #7a8288 !important;
    }
    .badge {
      color: #fff !important;
    }
  }
}
.spinner-grow {
  display: block;
  margin: 20px auto;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.task {
  .ck-content {
    border: none!important;
    outline: none!important;
    border-radius: 0!important;
    box-shadow: none!important;
    border-bottom: 1px solid #272b30!important;
    &:focus {
      border-bottom: 2px solid #62c462!important;
    }
  }
  .task-comments {
    .image-send {
      border: none;
      background-color: transparent;
      background-image: url($rightArrow);
      display: block;
      margin: 0 auto;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    margin-bottom: 140px;
    .comments-body {
      a {
        color: #5bc0de;
        text-decoration: underline;
      }
      padding: 20px;
      color: #f2f2f2;
      background-color: #1c1e22;
      min-height: 200px;
      .comments-intro {
        .image {
          background-image: url($commentsImage);
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          background-position: top center;
          background-repeat: no-repeat;
          padding-bottom: 20px;
        }
        span {
          display: block;
          text-align: center;
          border-bottom: 1px solid #272b30;
          padding-bottom: 20px;
          margin-left: -20px;
          margin-right: -20px;
        }
      }
    }

    h3 {
      display: inline-block;
      color: #62c462;
      font-family: Roboto;
      padding-bottom: 2px;
      border-bottom: 2px solid;
      font-size: 14px;
    }
  }
  .task-body {
    margin-bottom: 30px;
    .task_left-column {
      color: #f2f2f2;
      background-color: #1c1e22;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.6);
    }
    .task_right-column {
      position: sticky;
      top: 20px;
      .stages,
      .information {
        .row {
          margin-bottom: 15px;
        }
        a {
          display: block;
          font-size: 14px;
          margin-top: 5px;
          color: #788d98;
          font-weight: bold;

          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }
        font-size: 16px;
      }
      .title {
        font-weight: bold;
        background-color: #1c1e22;
        font-size: 25px;
        cursor: pointer;
      }
      .collapse {
        background-color: #1c1e22;
      }
    }
  }

  header {
    .task-btn {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    margin-top: 20px;
    background-color: #1c1e22 !important;
    border-bottom: 30px solid #272b30;
    padding: 8px 0;
    color: #fff;
    .text-group {
      padding: 20px;
      display: flex;
      align-items: center;
      height: 100%;
      .badge {
        margin-left: 15px;
        font-size: 20px;
        padding: 10px;
      }
    }
    .task-info {
      color: #aaa;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
    }
    .task-time {
      height: 100%;
      display: flex;
      font-size: 45px;
      align-items: center;
      justify-content: center;
    }
  }
}
